body {background-color: rgb(177, 177, 177);}


.top {
    border: 20px solid black;
    justify-content: flex-end;
    display: flex;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

a {
    padding: 20px;}

img {
    float: right;
    padding: 40px;
    border: solid black}